syntax: glob
*.pro.user*
*.app
*.moc
*.prl

debug/
release/
qtc-gdbmacros/
*.rej
*.orig
*.obj
*.swp
*.exp
*.ilk
*.pdb
*.idb
*.ncb
*.suo
*.aps
*.sdf
*.ipch
*.pch
*.plg
*.opt
*.sbr
*.tli
*.tlh
*.res
.svn/

Thumbs.db
moc_*.cpp
qrc_*.cpp
*.o
*.so.*
*.so
ui_*.h
*~
.qmake.cache
*.vcproj.*.user
*.vcxproj.user
*.dll
*.exe
*.txt
*.opensdf
*.log
*.VC.opendb
*.VC.db
bin
TinyFTP/cache